.sign-in-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333333;
  }
  
  .sign-in-form {
    width: 500px;
    padding: 50px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  }
  
  .sign-in-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 500;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 500;
  }
  
  .form-group input {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f4f4f4;
    font-size: 16px;
  }
  
  button[type='submit'] {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #666666;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  button[type='submit']:hover {
    background-color: #808080;
  }
  